p {
  color: #B7B6BB;
}

h1 {
  color: #4B4E60;
  line-height: 0.5;
  text-align: center;


}
.attribution {
  font-size: 11px;
  text-align: center;

  margin-top: 100px;

}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h3 {
  color: #4B4E60;
  line-height: 0.5;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: #FAFAFA;
  font-size: 100%;


}
.top /*div lifiha h1 & p*/{
  margin: auto;
  margin-bottom: 70px;

}

#intro /*paragraphe t intro*/{
  margin: auto;
  width: 34.375em;
  text-align: center;
}

.firstheading {
  font-weight: lighter;
}

.content {
  width: 25%;
  height: 11.5625em;

}
svg {
  float: right;
}
#supervisor{
  position: absolute;

  left:55px;
  top: 340px;
  margin-bottom: 70px;
  background-color: white;
  border-top: solid;
  border-radius:1.5%;
  padding : 1.5625em;

  border-color: hsl(180, 62%, 55%);
  box-shadow: 2px 4px 18px 0px #A9A9A9;
}
#team-builder {

  position: relative;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  padding-top: 4px;
  border-top: solid;
  border-radius:1.5%;
  padding: 1.5625em;
  border-color: hsl(0, 78%, 62%);
  box-shadow: 2px 4px 18px 0px #A9A9A9;

}

#karma{
  position: relative;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 100px;
  background-color: white;
  padding-top: 4px;
  border-top: solid;
  border-radius:1.5%;
  padding: 1.5625em;

  border-color: hsl(34, 97%, 64%);
box-shadow: 2px 4px 18px 0px #A9A9A9;
}


#calculator{
  position: absolute;
  left:907px;
  top: 340px;
  margin-bottom: 70px;
  background-color: white;
  border-top: solid;
  border-radius:1.5%;
  padding: 1.5625em;

  border-color: hsl(212, 86%, 64%);
  box-shadow: 2px 4px 18px 0px #A9A9A9;
}
@media /*only screen*/(min-width: 375px) and (max-width: 1200px){
  body {
    font-size: 100%;
    width: 90%;
    margin: auto;
}
h1 {
  text-align: center;
  width: 90%;
  font-size:180%;
  margin: auto;
  line-height: 1.5;

}
#intro {
  margin: auto;
  width: 90%;
  text-align: center;
}
.content {
  width: 80%;
}
#calculator{
  position: static;
  margin: auto;

  }
  #supervisor{
    position: static;
    margin: auto;
    margin-bottom: 30px;
    }
    #karma{
      margin-bottom: 30px;
    }
